<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DBConnectionString"
         value="user id=RentIt25db;password=ZAQ12wsx;server=rentit.itu.dk;Trusted_Connection=no;database=RENTIT25;connection timeout=30;MultipleActiveResultSets=True" />
  </appSettings>
  
  <system.web>
    <compilation debug="true"/>
  </system.web>
  
  

  <system.serviceModel>
    <services>
      <service name="moofy.JsonServices.MoofyServices" behaviorConfiguration="ServiceB">
        <endpoint address="users"
				      binding="webHttpBinding"
				      contract="moofy.JsonServices.IUserService"/>
        <endpoint address="manager"
				      binding="webHttpBinding"
				      contract="moofy.JsonServices.IManagerService"/>
        <endpoint address="movies"
				      binding="webHttpBinding"
				      contract="moofy.JsonServices.IMovieService"/>
        <endpoint address="songs"
				      binding="webHttpBinding"
				      contract="moofy.JsonServices.ISongService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://rentit.itu.dk/RentIt25/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceB">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>