<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DBConnectionString"
         value="user id=RentIt25db;password=ZAQ12wsx;server=rentit.itu.dk;Trusted_Connection=no;database=RENTIT25;connection timeout=30;MultipleActiveResultSets=True" />
  </appSettings>
</configuration>